<a href="https://colab.research.google.com/github/zxb-97/NLP1/blob/main/Ghedo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 1. Importare le librerie necessarie
import pandas as pd

# 2. Caricare i dataset
# Sostituisci 'path_to_movies_metadata.csv' e 'path_to_credits.csv' con i percorsi effettivi dei tuoi file
movies_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
credits = pd.read_csv('credits.csv')

# 3. Visualizzare le prime 5 righe del dataset movies_metadata
print("Prime 5 righe di movies_metadata:")
print(movies_metadata.head())

# 4. Visualizzare le informazioni sulle colonne e i tipi di dati di movies_metadata
print("\nInformazioni su movies_metadata:")
print(movies_metadata.info())

# 5. Visualizzare le prime 5 righe del dataset credits
print("\nPrime 5 righe di credits:")
print(credits.head())

# 6. Visualizzare le informazioni sulle colonne e i tipi di dati di credits
print("\nInformazioni su credits:")
print(credits.info())

# 7. Verificare se ci sono valori mancanti nelle colonne chiave di movies_metadata
print("\nValori mancanti in movies_metadata:")
print(movies_metadata.isnull().sum())

# 8. Verificare se ci sono valori mancanti nelle colonne chiave di credits
print("\nValori mancanti in credits:")
print(credits.isnull().sum())

# 9. Visualizzare esempi di righe specifiche se necessario
# Ad esempio, visualizzare la riga con indice 100 del dataset movies_metadata
print("\nEsempio di una riga specifica in movies_metadata (indice 100):")
print(movies_metadata.iloc[100])

# Visualizzare la riga con indice 100 del dataset credits
print("\nEsempio di una riga specifica in credits (indice 100):")
print(credits.iloc[100])

Prime 5 righe di movies_metadata:
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

Informazioni su movies_metadata:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
None

Prime 5 righe di credits:
                                                cast  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  [{'cast_id': 1, 'character': 'George Banks', '...

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

Informazioni su credits:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB
None

Valori mancanti in movies_metadata:
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Valori mancanti in credits:
cast    0
crew    0
id      0
dtype: int64

Esempio di una riga specifica in movies_metadata (indice 100):
adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
homepage                                                               NaN
id                                                                   47475
imdb_id                                                          tt0117102
original_language                                                       en
original_title                                                   Mr. Wrong
overview                 A single and lonely woman finds the seemingly ...
popularity                                                        3.329264
poster_path                               /8oZW1loLEczN1BU60YobsJJFdSR.jpg
production_companies         [{'name': 'Touchstone Pictures', 'id': 9195}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1996-02-16
revenue                                                                0.0
runtime                                                               96.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Mr. Wrong
video                                                                False
vote_average                                                           3.3
vote_count                                                            16.0
Name: 100, dtype: object

Esempio di una riga specifica in credits (indice 100):
cast    [{'cast_id': 1, 'character': 'Martha Alston', ...
crew    [{'credit_id': '52fe4735c3a36847f81291bf', 'de...
id                                                  47475
Name: 100, dtype: object

In [10]:
import pandas as pd
import ast

# Carica i dataset (sostituisci con i percorsi corretti)
metadata = pd.read_csv('movies_metadata.csv')  # metadata
credits = pd.read_csv('credits.csv')   # credits

# Converte entrambe le colonne 'id' in stringhe per evitare conflitti di tipo
metadata['id'] = metadata['id'].astype(str)
credits['id'] = credits['id'].astype(str)

# Funzione per estrarre il regista dalla colonna 'crew' nel file credits
def get_director(crew_data):
    try:
        crew = ast.literal_eval(crew_data)
        for person in crew:
            if person['job'] == 'Director':
                return person['name']
    except (ValueError, SyntaxError):
        return None
    return None

# Funzione per estrarre i primi 3 attori dalla colonna 'cast' nel file credits
def get_top_actors(cast_data, top_n=3):
    try:
        cast = ast.literal_eval(cast_data)
        return ', '.join([actor['name'] for actor in cast[:top_n]])
    except (ValueError, SyntaxError):
        return None

# Funzione per estrarre i generi dalla colonna 'genres' nel file metadata
def get_genres(genres_data):
    try:
        genres = ast.literal_eval(genres_data)
        return ', '.join([genre['name'] for genre in genres])
    except (ValueError, SyntaxError):
        return None

# Pre-processamento del dataset metadata
metadata['release_date'] = pd.to_datetime(metadata['release_date'], errors='coerce')
metadata['year'] = metadata['release_date'].dt.year

# Estrarre i generi dal JSON
metadata['genres'] = metadata['genres'].apply(get_genres)

# Pre-processamento del dataset credits per estrarre attori e regista
credits['top_3_actors'] = credits['cast'].apply(get_top_actors)
credits['director'] = credits['crew'].apply(get_director)

# Unisci i due dataset sul campo 'id' nel metadata e 'id' nel credits
merged_data = pd.merge(metadata, credits, left_on='id', right_on='id', how='inner')

# Seleziona le colonne rilevanti per il nuovo dataset
final_data = merged_data[['id','title', 'genres', 'top_3_actors', 'director', 'year',
                          'belongs_to_collection', 'vote_average', 'vote_count']]

# Esportare il nuovo dataset in un file CSV
final_data.to_csv('merged_movies_metadata.csv', index=False)

# Mostra le prime righe del nuovo dataset
print(final_data.head())

<ipython-input-10-0217fc8414da>:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('movies_metadata.csv')  # metadata

      id                        title                      genres  \
0    862                    Toy Story   Animation, Comedy, Family
1   8844                      Jumanji  Adventure, Fantasy, Family
2  15602             Grumpier Old Men             Romance, Comedy
3  31357            Waiting to Exhale      Comedy, Drama, Romance
4  11862  Father of the Bride Part II                      Comedy

                                      top_3_actors         director    year  \
0                Tom Hanks, Tim Allen, Don Rickles    John Lasseter  1995.0
1     Robin Williams, Jonathan Hyde, Kirsten Dunst     Joe Johnston  1995.0
2         Walter Matthau, Jack Lemmon, Ann-Margret    Howard Deutch  1995.0
3  Whitney Houston, Angela Bassett, Loretta Devine  Forest Whitaker  1995.0
4         Steve Martin, Diane Keaton, Martin Short    Charles Shyer  1995.0

                               belongs_to_collection  vote_average  vote_count
0  {'id': 10194, 'name': 'Toy Story Collection', ...           7.7      5415.0
1                                                NaN           6.9      2413.0
2  {'id': 119050, 'name': 'Grumpy Old Men Collect...           6.5        92.0
3                                                NaN           6.1        34.0
4  {'id': 96871, 'name': 'Father of the Bride Col...           5.7       173.0

In [5]:
import pandas as pd

# Carica il dataset
metadata = pd.read_csv('movies_metadata.csv')  # sostituisci con il percorso corretto

# Verifica quanti valori NaN ci sono in 'vote_average' e 'vote_count'
nan_vote_average = metadata['vote_average'].isna().sum()
nan_vote_count = metadata['vote_count'].isna().sum()

# Visualizza i risultati
print(f"Valori NaN in 'vote_average': {nan_vote_average}")
print(f"Valori NaN in 'vote_count': {nan_vote_count}")

Valori NaN in 'vote_average': 6
Valori NaN in 'vote_count': 6

<ipython-input-5-56468c4ae041>:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('movies_metadata.csv')  # sostituisci con il percorso corretto

In [11]:
import pandas as pd
import ast

# Carica il file CSV precedentemente creato (aggiorna il percorso con il tuo se necessario)
merged_data = pd.read_csv('merged_movies_metadata.csv')

# 1. Funzione per estrarre il nome della collezione dal campo JSON 'belongs_to_collection'
def get_collection(collection_data):
    try:
        collection = ast.literal_eval(collection_data)
        if collection and 'name' in collection:
            return collection['name']
    except (ValueError, SyntaxError):
        return "0"  # Assegna "0" se non appartiene a nessuna collezione o se c'è un errore
    return "0"

# Applica la funzione per gestire i valori di 'belongs_to_collection'
merged_data['belongs_to_collection'] = merged_data['belongs_to_collection'].apply(lambda x: get_collection(x) if pd.notnull(x) else "0")

# 2. Rimuovi i film con NaN in 'vote_average' o 'vote_count'
merged_data_cleaned = merged_data.dropna(subset=['vote_average', 'vote_count'])

# Esporta il nuovo dataset pulito
merged_data_cleaned.to_csv('merged_movies_metadata_cleaned.csv', index=False)

# Mostra le prime righe del nuovo dataset pulito
print(merged_data_cleaned.head())

      id                        title                      genres  \
0    862                    Toy Story   Animation, Comedy, Family
1   8844                      Jumanji  Adventure, Fantasy, Family
2  15602             Grumpier Old Men             Romance, Comedy
3  31357            Waiting to Exhale      Comedy, Drama, Romance
4  11862  Father of the Bride Part II                      Comedy

                                      top_3_actors         director    year  \
0                Tom Hanks, Tim Allen, Don Rickles    John Lasseter  1995.0
1     Robin Williams, Jonathan Hyde, Kirsten Dunst     Joe Johnston  1995.0
2         Walter Matthau, Jack Lemmon, Ann-Margret    Howard Deutch  1995.0
3  Whitney Houston, Angela Bassett, Loretta Devine  Forest Whitaker  1995.0
4         Steve Martin, Diane Keaton, Martin Short    Charles Shyer  1995.0

            belongs_to_collection  vote_average  vote_count
0            Toy Story Collection           7.7      5415.0
1                               0           6.9      2413.0
2       Grumpy Old Men Collection           6.5        92.0
3                               0           6.1        34.0
4  Father of the Bride Collection           5.7       173.0

In [12]:
import pandas as pd
import ast

# Carica i dataset: keywords e merged_movies_metadata_cleaned
keywords = pd.read_csv('keywords.csv')  # aggiorna il percorso con il tuo file
merged_data_cleaned = pd.read_csv('merged_movies_metadata_cleaned.csv')

# Funzione per estrarre le parole chiave dal campo JSON 'keywords'
def get_keywords(keyword_data):
    try:
        keywords_list = ast.literal_eval(keyword_data)
        return ', '.join([kw['name'] for kw in keywords_list])
    except (ValueError, SyntaxError):
        return ''

# Applica la funzione per estrarre le keywords e creare una nuova colonna 'keywords'
keywords['keywords'] = keywords['keywords'].apply(get_keywords)

# Unisci i due dataset utilizzando la chiave 'id' (che è 'Id' nel file keywords e 'id' nel file merged_data_cleaned)
merged_data_with_keywords = pd.merge(merged_data_cleaned, keywords[['id', 'keywords']], left_on='id', right_on='id', how='left')

# Esporta il nuovo dataset con le keywords aggiunte
merged_data_with_keywords.to_csv('merged_movies_metadata_with_keywords.csv', index=False)

# Mostra le prime righe del dataset finale
print(merged_data_with_keywords.head())

      id                        title                      genres  \
0    862                    Toy Story   Animation, Comedy, Family
1   8844                      Jumanji  Adventure, Fantasy, Family
2  15602             Grumpier Old Men             Romance, Comedy
3  31357            Waiting to Exhale      Comedy, Drama, Romance
4  11862  Father of the Bride Part II                      Comedy

                                      top_3_actors         director    year  \
0                Tom Hanks, Tim Allen, Don Rickles    John Lasseter  1995.0
1     Robin Williams, Jonathan Hyde, Kirsten Dunst     Joe Johnston  1995.0
2         Walter Matthau, Jack Lemmon, Ann-Margret    Howard Deutch  1995.0
3  Whitney Houston, Angela Bassett, Loretta Devine  Forest Whitaker  1995.0
4         Steve Martin, Diane Keaton, Martin Short    Charles Shyer  1995.0

            belongs_to_collection  vote_average  vote_count  \
0            Toy Story Collection           7.7      5415.0
1                               0           6.9      2413.0
2       Grumpy Old Men Collection           6.5        92.0
3                               0           6.1        34.0
4  Father of the Bride Collection           5.7       173.0

                                            keywords
0  jealousy, toy, boy, friendship, friends, rival...
1  board game, disappearance, based on children's...
2  fishing, best friend, duringcreditsstinger, ol...
3  based on novel, interracial relationship, sing...
4  baby, midlife crisis, confidence, aging, daugh...